<section>
  <h2 class="catalog">Catalog</h2>
  <ul>
    <li>
      <img
        src="../img/catalog.img/image-1.jpg"
        alt="Garmin Fenix 7X Pro Sapphire Solar"
        width="304"
        height="312"
      />
      <h3>Garmin Fenix 7X Pro Sapphire Solar</h3>
      <p>€500</p>
    </li>
    <li>
      <img
        src="../img/catalog.img/image-2.jpg"
        alt="Garmin Marq Athlete"
        width="304"
        height="312"
      />
      <h3>Garmin Marq Athlete</h3>
      <p>€450</p>
    </li>
    <li>
      <img
        src="../img/catalog.img/image-3.jpg"
        alt="Garmin Descent MK1"
        width="304"
        height="312"
      />
      <h3>Garmin Descent MK1</h3>
      <p>€680</p>
    </li>
    <li>
      <img
        src="../img/catalog.img/image-4.jpg"
        alt="Garmin D2 Delta PX"
        width="304"
        height="312"
      />
      <h3>Garmin D2 Delta PX</h3>
      <p>€380</p>
    </li>
    <li>
      <img
        src="../img/catalog.img/image-5.jpg"
        alt="Garmin Fenix 6 Pro Solar"
        width="304"
        height="312"
      />
      <h3>Garmin Fenix 6 Pro Solar</h3>
      <p>€400</p>
    </li>
    <li>
      <img
        src="../img/catalog.img/image-6.jpg"
        alt="Tube Watch S42 Date Steel With Black Case"
        width="304"
        height="312"
      />
      <h3>Tube Watch S42 Date Steel With Black Case</h3>
      <p>€395</p>
    </li>
    <button>Show more</button>
  </ul>
</section>
