<section class="catalog-one" id="catalog-one">
  <h2 class="catalog">Catalog</h2>
  <ul class="catalog-page">
    <li class="catalog-logi">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-1.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-taxt">€500</p>
        </div>
      </div>
    </li>

    <li class="catalog-logi">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-2.png"
          alt="Garmin Marq Athlete"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">Garmin Marq Athlete</h3>
          <p class="catalog-taxt">€450</p>
        </div>
      </div>
    </li>

    <li class="catalog-logi">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-3.png"
          alt="Garmin Descent MK1"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">Garmin Descent MK1</h3>
          <p class="catalog-taxt">€680</p>
        </div>
      </div>
    </li>

    <li class="catalog-logi line">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-4.png"
          alt="Garmin D2 Delta PX"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">Garmin D2 Delta PX</h3>
          <p class="catalog-taxt">€380</p>
        </div>
      </div>
    </li>

    <li class="catalog-logi heets">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-5.png"
          alt="Garmin Fenix 6 Pro Solar"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-taxt">€400</p>
        </div>
      </div>
    </li>

    <li class="catalog-logi heets">
      <div class="catalog-div">
        <img
          src="../img/catalog.img/image-6.png"
          alt="Tube Watch S42 Date Steel With Black Case"
          class="catalog-img"
        />
        <div class="catalog-logi-page">
          <h3 class="catalog-page-logi">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-taxt">€395</p>
        </div>
      </div>
    </li>
    <button class="button-two" type="submit">Show more</button>
  </ul>
</section>
