<footer id="footer" class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-start-part">
        <div class="footer-link-group">
          <div class="footer-link-group-logo">
            <a class="footer-logo" href="./index.html">watchcharm</a>
            <ul class="footer-social-list">
              <li class="footer-social-item"><a class="footer-social-link" href="https://www.facebook.com/goITclub/"
                  target="_blank">
                  <svg class="footer-social-icon" width="18" height="18">
                    <use href="/img/icon.svg#icon-facebook"></use>
                  </svg>
                </a></li>

              <li class="footer-social-item">
                <a class="footer-social-link" href="https://www.instagram.com/goitclub/" target="_blank">
                  <svg class="footer-social-icon" width="18" height="18">
                    <use href="/img/icon.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="footer-social-item">
                <a class="footer-social-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                  <svg class="footer-social-icon" width="18" height="18">
                    <use href="/img/icon.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <div class="contact-tel"><a class="contact-tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a></div>
        </div>

        <p class="footer-slogan">Have the time of your life with our watches: where high-class craftsmanship meets
          impeccable
          design</p>
      </div>

      <div class="sources-wrap">
        <ul class="footer-navigation-list">
          <li class="footer-navigation-item">
            <a href="#hero" class="footer-navigation-link">Home</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#about-us" class="footer-navigation-link">About Us</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#catalog-one" class="footer-navigation-link">Catalog</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#sale" class="footer-navigation-link">Sale</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#reviews" class="footer-navigation-link">Reviews</a>
          </li>
          <li class="footer-navigation-item">
            <a href="#contact-us" class="footer-navigation-link">Contact Us</a>
          </li>
        </ul>

        <address class="address">
          <a class="map-link"
            href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.7344219,-111.9879072,12z/data=!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.733048!4d-111.9603985!16s%2Fg%2F11bw41vm_p?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D"
            target="_blank">1678 S. Pioneer Road Salt Lake City UT 84104</a>
        </address>
      </div>

      <div class="line-board"></div>

      <div class="footer-end-part">
        <p class="footer-copyright">&copy;2023 The Watch Spot. All rights reserved.</p>

        <div class="footer-aggriment-links">
          <a class="aggriment-link" href="">Terms <span class="low-text">of</span> Service</a>
          <a class="aggriment-link aggriment-link-policy" href="">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>


</footer>