<section class="hero">
    <div class="container container-hero">
        <div class="div-hero-text">
            <h1 class="title-hero">Welcome to our <span class="hero-span"> collection</span>  of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="dev-hero-links">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <picture class="hero-pic">
                <source media="(min-width:1280px)" 
                srcset="___.jpg   1x,
                ___2x.jpg   2x" />
                <source media="(min-width:768px)" 
                srcset="___.jpg   1x,
                ___2x.jpg   2x" />
                <source media="(max-width:767px)" 
                srcset="___.jpg   1x,
                ___2x.jpg   2x" />
                <img class="ellipse" src="" width="60" height="60" alt="___" />
            </picture>
            <picture class="hero-pic">
                <source media="(min-width:1280px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <source media="(min-width:768px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <source media="(max-width:767px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <img class="ellipse" src="" width="60" height="60" alt="___" />
            </picture>
            <picture class="hero-pic">
                <source media="(min-width:1280px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <source media="(min-width:768px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <source media="(max-width:767px)" srcset="___.jpg   1x,
                    ___2x.jpg   2x" />
                <img class="ellipse" src="" width="60" height="60" alt="___" />
            </picture>
            <a class="hero-scroll" href="index.html">Scroll down</a>
        </div>
    </div>

</section>

<!--
    mob 375px
-->