<section class="hero">
    <div class="container container-hero">
        <div class="div-hero-text">
            <h1 class="title-hero">Welcome to our <span class="hero-span"> collection</span>  of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="dev-hero-links">
            <picture class="hero-pic">
                <source media="(min-width:1280px)" srcset="../img/hero pic/team-pic/team-desktop-1-min.jpg 1x,
                                                            ../img/hero pic/team-pic/team-desktop-1@2-min.jpg 2x" />
                <source media="(min-width:768px)" srcset="../img/hero pic/team-pic/team-tablet-1-min.jpg 1x,
                                                            ../img/hero pic/team-pic/team-tablet-1@2x-min.jpg 2x" />
                <source media="(max-width:767px)" srcset="../img/hero pic/team-pic/team-mob-1-min.jpg 1x,
                                                            ../img/hero pic/team-pic/team-mob-1@2x-min. 2x "/>
                <img src="../img/hero pic/team-pic/team-desktop-1-min.jpg" alt="Fleur CookAmanda Lowery" width="44" height="44">
            </picture>
            <picture class="hero-pic">
                <source media="(min-width:1280px)" srcset="../img/hero pic/team-pic/team-desktop-2-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-desktop-2@2-min.jpg 2x" />
                <source media="(min-width:768px)" srcset="../img/hero pic/team-pic/team-tablet-1-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-tablet-2@2x-min.jpg 2x" />
                <source media="(max-width:767px)" srcset="../img/hero pic/team-pic/team-mob-2-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-mob-2@2x-min. 2x " />                
                <img src="../img/hero pic/team-pic/team-desktop-2-min.jpg" alt="Ethan Valdez" width="44" height="44">
            </picture>
            <picture class="hero-pic">
                <source media="(min-width:1280px)" srcset="../img/hero pic/team-pic/team-desktop-3-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-desktop-3@2-min.jpg 2x" />
                <source media="(min-width:768px)" srcset="../img/hero pic/team-pic/team-tablet-3-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-tablet-3@2x-min.jpg 2x" />
                <source media="(max-width:767px)" srcset="../img/hero pic/team-pic/team-mob-3-min.jpg 1x,
                                                                            ../img/hero pic/team-pic/team-mob-3@2x-min. 2x " />
                <img src="../img/hero pic/team-pic/team-desktop-3-min.jpg" alt="Amanda Lowery" width="44" height="44">
            </picture>
            <a class="hero-scroll" href="index.html">Scroll down</a>
        </div>
            <picture class="hero-pic">
                <source media="(min-width:1280px)" 
                srcset="../img/hero pic/hero-pic-watch-desctop-min.jpg 1x, ,
                 ../img/hero pic/hero-pic-watch-desctop@2x-min.jpg  2x" />
                <source media="(min-width:768px)" 
                srcset="./img/hero pic/hero-pic-watch-tablet-min.jpg 1x,
                 ../img/hero pic/hero-pic-watch-tablet@2x-min.jpg  2x" />
                <source media="(max-width:767px)" 
                srcset="./img/hero pic/hero-pic-watch-mob-min.jpg 1x,
                 ../img/hero pic/hero-pic-watch-mob@2x-min.jpg  2x" />
                <img class="ellipse" src="../img/hero pic/hero-pic-watch-desctop-min.jpg" width="335" height="366" alt="Rectangle10" />
            </picture>
    </div>

</section>

<!--
    mob 375px
-->