<section class="hero"  id="hero" >
    <div class="container container-hero">
        <div class="text-and-pic">
        <div class="div-hero-text">
            <h1 class="title-hero">Welcome to our<span class="hero-span"> collection</span> of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="dev-hero-links">
            <div class="profile-container">
            <picture class="hero-pic hero-pic-1">
                <source media="(min-width:1280px)" srcset="/img/hero-pic-all/team-pic/team-desctop-1-min.png 1x,
                                                            /img/hero-pic-all/team-pic/team-desctop-1@2x-min.png 2x" />
                <source media="(min-width:768px)" srcset="/img/hero-pic-all/team-pic/team-tablet-1-min.png 1x,
                                                            /img/hero-pic-all/team-pic/team-tablet-1@2x-min.png 2x" />
                <source media="(max-width:767px)" srcset="/img/hero-pic-all/team-pic/team-mob-1-min.png 1x,
                                                            /img/hero-pic-all/team-pic/team-mob-1@2x-min.png 2x "/>
                <img src="/img/hero-pic-all/team-pic/team-desktop-1-min.png" alt="Fleur CookAmanda Lowery" >
            </picture>
            <picture class="hero-pic hero-pic-2">
                <source media="(min-width:1280px)" srcset="/img/hero-pic-all/team-pic/team-desctop-2-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-desctop-2@2x-min.png 2x" />
                <source media="(min-width:768px)" srcset="/img/hero-pic-all/team-pic/team-tablet-2-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-tablet-2@2x-min.png 2x" />
                <source media="(max-width:767px)" srcset="/img/hero-pic-all/team-pic/team-mob-2-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-mob-2@2x-min.png 2x " />                
                <img src="/img/hero-pic-all/team-pic/team-desktop-2-min.png" alt="Ethan Valdez" >
            </picture>
            <picture class="hero-pic hero-pic-3">
                <source media="(min-width:1280px)" srcset="/img/hero-pic-all/team-pic/team-desctop-3-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-desctop-3@2x-min.png 2x" />
                <source media="(min-width:768px)" srcset="/img/hero-pic-all/team-pic/team-tablet-3-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-tablet-3@2x-min.png 2x" />
                <source media="(max-width:767px)" srcset="/img/hero-pic-all/team-pic/team-mob-3-min.png 1x,
                                                                            /img/hero-pic-all/team-pic/team-mob-3@2x-min.png 2x " />
                <img src="/img/hero-pic-all/team-pic/team-desktop-3-min.png" alt="Amanda Lowery" >
            </picture>
            </div>
            <a class="hero-scroll" href="#footer">Scroll down</a>
        </div>
        </div>
            <picture class="hero-watch">
                <source media="(min-width:1280px)" 
                srcset="/img/hero-pic-all/hero-pic-watch-desctop-min.jpg 1x, ,
                 /img/hero-pic-all/hero-pic-watch-desctop@2x-min.jpg  2x" />
                <source media="(min-width:768px)" 
                srcset="/img/hero-pic-all/hero-pic-watch-tablet-min.jpg 1x,
                 /img/hero-pic-all/hero-pic-watch-tablet@2x-min.jpg  2x" />
                <source media="(max-width:767px)" 
                srcset="/img/hero-pic-all/hero-pic-watch-mob-min.jpg 1x,
                 /img/hero-pic-all/hero-pic-watch-mob@2x-min.jpg  2x" />
                <img class="ellipse" src="/img/hero-pic-all/hero-pic-watch-desctop-min.jpg" alt="Rectangle10" />
            </picture>
    </div>

</section>
