<section id="location" class="location">
  <div class="container">
    <h2 class="location-title">Location</h2>
    <div class="map-container">
      <iframe
        class="maps"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d96747.71506049878!2d-111.9663836931763!3d40.73196925238064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f35bbcfb1369%3A0x260ab4842496c9e4!2sVarex%20Imaging%20Visitor%20Entrance!5e0!3m2!1sru!2sua!4v1745423730693!5m2!1sen!2sua"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
