<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="title reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/reviews-img/ellipse-john.png    1x,
              /img/reviews-img/еllipse-john@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/reviews-img/ellipse-john.png    1x,
              /img/reviews-img/еllipse-john@2x.png 2x
            "
          />
          <img
            class="reviews-item-img"
            src="/img/reviews-img/ellipse-john.png"
            alt="Minimalist smartwatch interface"
          />
        </picture>
        <h3 class="reviews-author-name">john wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/reviews-img/ellipse-victoria.png    1x,
              /img/reviews-img/ellipse-victoria@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/reviews-img/ellipse-victoria.png    1x,
              /img/reviews-img/ellipse-victoria@2x.png 2x
            "
          />
          <img
            class="reviews-item-img"
            src="/img/reviews-img/ellipse-victoria.png"
            alt="Minimalist smartwatch interface"
          />
        </picture>
        <h3 class="reviews-author-name">victoria romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item">
        <picture class="reviews-image">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/reviews-img/ellipse-anastasia.png    1x,
              /img/reviews-img/ellipse-anastasia@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/reviews-img/ellipse-anastasia.png    1x,
              /img/reviews-img/ellipse-anastasia@2x.png 2x
            "
          />
          <img
            class="reviews-item-img"
            src="/img/reviews-img/ellipse-anastasia.png"
            alt="Minimalist smartwatch interface"
          />
        </picture>
        <h3 class="reviews-author-name">anastasia trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
