<section class="sale section" id="sale">
    <div class="container">
        <div class="sale-list">
            <h2 class="sale-title">Sale</h2>
            <div class="sale-gallery">
                <div class="sale-images">
                    <ul class="sale-thumbnails">
                        <li class="sale-thumbnail">
                            <picture class="sale-image">
                                <source media="(max-width: 767px)"
                                    srcset="/img/sale.img/watch-mob-1.png 1x, 
                                    /img/sale.img/watch-mob-1@2x.png 2x" />
                                <source media="(min-width: 768px)"
                                    srcset="/img/sale.img/watch-tab-1.png 1x, /img/sale.img/watch-tab-1@2x.png 2x" />
                                <img class="sale-thumbnail-img" src="/img/sale.img/watch-mob-1.png"
                                    alt="Minimalist smartwatch interface" />
                            </picture>
                        </li>
                        <li class="sale-thumbnail">
                            <picture class="sale-image">
                                <source media="(max-width: 767px)"
                                    srcset="/img/sale.img/watch-mob-2.png 1x, /img/sale.img/watch-mob-2@2x.png 2x" />
                                <source media="(min-width: 768px)"
                                    srcset="/img/sale.img/watch-tab-2.png 1x, /img/sale.img/watch-tab-2@2x.png 2x" />
                                <img class="sale-thumbnail-img" src="/img/sale.img/watch-mob-2.png"
                                    alt="Minimalist smartwatch interface" />
                            </picture>
                        </li>
                        <li class="sale-thumbnail">
                            <picture class="sale-image">
                                <source media="(max-width: 767px)"
                                    srcset="/img/sale.img/watch-mob-3.png 1x, /img/sale.img/watch-mob-3@2x.png 2x" />
                                <source media="(min-width: 768px)"
                                    srcset="/img/sale.img/watch-tab-3.png 1x, /img/sale.img/watch-tab-3@2x.png 2x" />
                                <img class="sale-thumbnail-img" src="/img/sale.img/watch-mob-3.png"
                                    alt="Minimalist smartwatch interface" />
                            </picture>
                        </li>
                        <li class="sale-thumbnail">
                            <picture class="sale-image">
                                <source media="(max-width: 767px)"
                                    srcset="/img/sale.img/watch-mob-4.png 1x, /img/sale.img/watch-mob-4@2x.png 2x" />
                                <source media="(min-width: 768px)"
                                    srcset="/img/sale.img/watch-tab-4.png 1x, /img/sale.img/watch-tab-4@2x.png 2x" />
                                <img class="sale-thumbnail-img" src="/img/sale.img/watch-mob-4.png"
                                    alt="Minimalist smartwatch interface" />
                            </picture>
                        </li>
                    </ul>
                    <div class="sale-main-image">
                        <picture class="sale-main-img">
                            <source media="(max-width: 767px)"
                                srcset="/img/sale.img/watch-mob-5.png 1x, /img/sale.img/watch-mob-5@2x.png 2x" />
                            <source media="(min-width: 768px)"
                                srcset="/img/sale.img/watch-tab-5.png 1x, /img/sale.img/watch-tab-5@2x.png 2x" />
                            <img class="sale-main-thumbnail" src="/img/sale.img/watch-mob-5.png"
                                alt="Minimalist smartwatch interface" />
                        </picture>
                    </div>
                </div>
                <div class="sale-product-info">
                    <h3 class="sale-product-title">
                        MARQ® Commander (Gen 2) - Carbon Edition
                    </h3>
                    <span class="sale-product-code">Product tag: 706587</span>
                    <div class="sale-price-container">
                        <span class="sale-product-discount">€1500</span>
                        <span class="sale-product-original-price">€3000</span>
                    </div>
                    <p class="sale-product-description">
                        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
                        to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED
                        touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
                    </p>
                    <ul class="sale-product-features">
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Fused carbon fiber</p>
                        </li>
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Grade-5 Titanium</p>
                        </li>
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Athlete</p>
                        </li>
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Golfer</p>
                        </li>
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Commander</p>
                        </li>
                        <li class="sale-product-feature">
                            <p class="sale-product-feature-text">Adventurer</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>