.about-us-section {
    box-sizing: border-box;
    padding: 30px 0;
}

.about-us-container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
}

.about-us-text-btn-wrap {
    padding: 40px 20px;
    background: #f3f3f3;
    border-radius: 30px;
    margin-bottom: 20px;
    max-width: 295px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.about-us-section-title,
.about-us-section-text,
.about-us-section-button {
    font-family: "Gilroy", sans-serif;
}

.about-us-section-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-transform: capitalize;    
    margin-bottom: 28px;
}

.about-us-section-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.about-us-section-text:last-of-type {
    margin-bottom: 40px;     
}

.about-us-picture {
    display: block;
    margin: 0 auto;
}

.about-us-section-button {
    display: inline-block;
    border-radius: 16px;
    border: none;
    padding: 15px 38px;
    background-color: #3350e9;   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.about-us-section-button:active {
    background-color: #1f3cd4;
}

@media only screen and (min-width: 768px) {
    .about-us-section {
        padding: 40px 0;
    }
    .about-us-container {
        max-width: 768px;
        padding: 0 24px;
    }
    .about-us-text-btn-wrap {
        padding: 80px 60px;
        background: #f3f3f3;
        border-radius: 50px;
        margin-bottom: 40px;
        max-width: 584px;
    }
    .about-us-section-title {
        font-size: 48px;
        line-height: 0.92;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 40px;
    }
    .about-us-section-text {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        margin-bottom: 20px;     
    }
    .about-us-section-text:last-of-type {
        margin-bottom: 60px;     
    }    
    }
@media only screen and (min-width: 1280px) {
   .about-us-section {
        padding: 50px 0;
    }
    .about-us-container {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-us-text-btn-wrap {
        padding: 80px 60px;
        background: #f3f3f3;
        border-radius: 50px;
        margin: 0;
        margin-right: 40px;
        max-width: 460px;
    }
    .about-us-section-text:last-of-type {
        margin-bottom: 40px;     
    }
        .about-us-section-button:hover,
        .about-us-section-button:focus {
        background-color: #1f3cd4;
    }
    }