.advertisement {
  padding: 30px 0;
}
.adv {
  width: 100%;
  max-width: 279px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.button {
  width: 160px;
  height: 48px;
  background: transparent;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.5);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  border-radius: 16px;
  display: block;
  margin-top: 28px;
}

.button:hover,
.button:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}
.choose {
  padding: 60px 28px;
  background-image: url(/img/mobile.png), linear-gradient(#0c0c0c, #0c0c0c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .choose {
    background-image: url(/img/mobiletwo.png), linear-gradient(#0c0c0c, #0c0c0c);
  }
}
@media screen and (min-width: 768px) {
  .choose {
    padding: 80px 64px;
    background-image: url(/img/tablet.png), linear-gradient(#0c0c0c, #0c0c0c);
  }
  .adv {
    max-width: 576px;
    font-size: 48px;
    line-height: 0.91667;
  }
  .button {
    margin-top: 32px;
  }
  .advertisement {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .choose {
    background-image: url(/img/tablettwo.png), linear-gradient(#0c0c0c, #0c0c0c);
  }
}
@media screen and (min-width: 1280px) {
  .choose {
    background-image: url(/img/advv.png), linear-gradient(#0c0c0c, #0c0c0c);
    display: flex;
  }
  .button {
    margin-left: 140px;
    margin-top: 0;
  }
  .adv {
    max-width: 690px;
  }
  .advertisement {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 2x) {
  .choose {
    background-image: url(/img/adv.png), linear-gradient(#0c0c0c, #0c0c0c);
  }
}
span {
  color: rgba(251, 251, 251, 0.5);
}
