.adv {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.button {
  width: 160x;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}

.choose {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/adv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1150px;
  height: 298pxgit stta;
}
@media screen and (max-width: 768px) and (min-resolution: 2x) {
  .choose {
    background-image: linear-gradient(0 4px 4px 0 rgba(0, 0, 0, 0.25)),
      url(../fonts/img.adv.jpg);
  }
}
@media screen and (min-width: 767px) {
  .choose {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), url(../fonts/img.adv.jpg);
  }
}
@media screen and (min-width: 767px) and (min-resolution: 2x) {
  .choose {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), url(../fonts/img.adv.jpg);
  }
}
span {
  color: rgba(251, 251, 251, 0.5);
}
