/*
@media screen and (min-width:768px) { }

@media screen and (min-width:1280px) { }
*/

.hero{
padding-top: 60px;
padding-bottom: 0;
}
.container

.container-hero{
padding-left: 20px;
padding-right: 20px;
}
@media screen and (min-width:768px){
    .hero{
        padding-top: 80px;
    }
    .container-hero{
        padding-right: 32px;
        padding-left: 32px;
        padding-bottom: 0;
    }
}
.text-and-pic{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width:768px) {
    .text-and-pic{
        width: 704px;
        gap: 11px;
    }
}
.div-hero-text{
width: 335px;
height: 206px;
display: flex;
flex-direction: column;
align-items: start;
padding-bottom: 28px;
justify-content: flex-start;
gap: 20px;
}
@media screen and (min-width:768px){
    .div-hero-text{
        width: 557px;
        height: 269px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }
}
@media screen and (min-width:1280px){
    .div-hero-text{
       width: 597px;
       height: 269px; 
    }
}
.title-hero{
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}
@media screen and (min-width:768px) {
    .title-hero{
        height: 180px;
        width: 557px;
    }
}
.hero-span{
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #3350e9;
}
.hero-text{
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
height: 72px;
width: 335px;
}
@media screen and (min-width:768px) {
    .hero-text{
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        height: 60px;
        width: 480px;
    }
}

.dev-hero-links{
display: flex;
flex-direction: row;
gap: 155px;
padding-bottom: 28px;
align-items: flex-end;
justify-content: flex-start;
}
@media screen and (min-width:768px) {
    .dev-hero-links{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        gap: 180px;
    }
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.profile-container {
    display: flex;
    align-items: center;
}

.hero-pic {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    object-fit: cover;
    margin-left: -10px;
    box-shadow: 0 0 0 1px #ccc;
    /* optional: outline for contrast */
}

.hero-pic:first-child {
    margin-left: 0;
    /* no overlap on the first image */
}

.hero-scroll{
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    width: 72px;
    height: 18px;   

}
@media screen and (min-width:768px) {
    .hero-watch{
        width: 704px;
        height: 520px;
    }
}
