/* section */
.reviews-section {
  padding: 30px 0;
  font-family: 'Gilroy', sans-serif;
}

/* title */
.reviews-title {
  margin-bottom: 24px;
}

/* list */
.reviews-list {
  text-align: center;
}

/* card */
.reviews-item {
  background: #f3f3f3;
  padding: 32px 36px;
  border-radius: 30px;
  width: 100%;
  list-style: none;
}
.reviews-item:not(:first-child) {
  display: none;
}
.reviews-item-img {
  margin: 0 auto;
  margin-bottom: 24px;
}

/* name user */
.reviews-author-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .reviews-section {
    padding: 40px 0;
  }
  .reviews-title {
    margin-bottom: 40px;
  }
  .reviews-item {
    width: calc((100% - 16) / 2);
  }

  .reviews-item:nth-child(2) {
    display: block;
  }
  .reviews-list {
    display: flex;
    gap: 16px;
  }

  .reviews-author-name {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* laptop */
@media only screen and (min-width: 1280px) {
  .reviews-section {
    padding: 50px 0;
  }
  .reviews-item {
    width: calc((100% - 2 * 16) / 3);
  }

  .reviews-item:nth-child(3) {
    display: block;
  }
  .reviews-list {
    display: flex;
    gap: 20px;
  }
}
